<p><%= @book_post.book_comments.count %>件のコメント</p>

<table class="table">
	<% @book_post.book_comments.each do |book_comment| %>
		<tr>
			<td width="50">
				<%= attachment_image_tag(book_comment.user, :profile_image, :fill, 40, 40, class: "img-circle pull-left profile-img", fallback: "no-image-mini.jpg") %>
			</td>
			<td width="30">
				<%= book_comment.user.name %>
			</td>
			<td>
				<p><%= book_comment.comment %></p>
			</td>
			<td width="110">
				<%= book_comment.created_at.strftime('%Y/%m/%d') %>
				<% if current_user.id == book_comment.user_id %>
					<%= link_to '', book_book_comments_path(book_post, book_comment), class: "glyphicon glyphicon-remove", method: :delete, remote: true %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>